// Override default variables before the import
$body-bg: white;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

/*
.App-header {
    background-color: red;
}
*/

body {
    padding-top: 15px;
}

// change the theme
$theme-colors: (
  "primary": red,
  "danger": #ff4136
);

@import 'Form.scss'