@import '~bootstrap/scss/bootstrap.scss';

// Override default variables before the import
$body-bg: white;

/*
.App-header {
    background-color: red;
}
*/

body {
    padding-top: 15px;
}


// change the theme
$theme-colors: (
  "primary": red,
  "danger": #ff4136
);

@import 'Form.scss';