// Override default variables before the import
$body-bg: white;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

/*
.App-header {
    background-color: red;
}
*/

body {
    padding-top: 15px;
}

@import 'Form.scss'